/node_modules
/public/hot
/public/storage
/public/assets/serviceFile/*
/public/uploads/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
package.json
/public/mix-manifest.json
/public/js/app.js
/.idea/
/storage/logs
/


# No for this files

!/public/assets/serviceFile/berkas1.jpeg
!/public/assets/serviceFile/Presensi.pdf