.verification {
    border: 1px solid #f2f2f2;
    height: 150px;
    border-radius: 20px;
    background: #fff;
}

.verification_header {
    background: rgb(141, 212, 230);
    padding: 8px;
    border-radius: 10px 10px 0px 0px;
}

.check {
    margin: 0px auto;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #fff;
    text-align: center;
}

.check i {
    vertical-align: middle;
    line-height: 30px;
    font-size: 30px;
}

.verification_content {
    text-align: center;
}

.verification_content h1 {
    font-size: 15px;
    padding-top: 15px;
}

.verification_content a {
    width: 200px;
    height: 35px;
    color: #fff;
    border-radius: 30px;
    padding: 5px 10px;
    background: rgb(109, 203, 231);
    transition: all ease-in-out 0.3s;
}

.verification_content a:hover {
    text-decoration: none;
    background: #000;
}
